header{
	position: fixed;
	width: 100vw;
	z-index: 1;
	margin-top: 5px;

}

body{
	background-image: url(../images/geometry2.png);
	background:cover;
}

.navbar-brand img{
	height: 2em;
	position: relative;
	top: -9px;
}

.head{
	margin-top: 50px;
	background-color:#20bdad;
}

.head-content{
	padding: 80px;
	font-size: 30px;
	color: white;
}

.img-head{
	width: 100px;
	position: absolute;
	top: -13px;
	left: 80%;
}

@media (max-width: 768px){
	.img-head{
		position: relative;
		left: 35%;
		top: 10px;
	}
	.title-head{
	text-align: center;
}

.aside form{
	display: none;
}
.news{
	display: none;
}

}


.articles{
	margin-top: 20px;
	margin-bottom: 20px;

}

.article{
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px
}
.img-article{
	width: 553px;
	border-radius: 10px 10px 0px 0px;
	
}

.article-body{
	padding: 15px;

}
.title-article{
	margin:0;
	font-size: 2em;

}

.aside{
	border-bottom: 1px solid #ccc;
	padding: 25px;
	margin-top: 5px;
}

.form2{
	margin-bottom:29px;
}
.btn{
	margin-top: 16px;
}
.aside > h3{
	margin-top: 5px;
}

.footer{
	margin-top: 20px;
	background-color: #f2f2f2;
}
.foo{
	padding: 20px;

}

.panel-footer {
    padding:27px 89px;
    height: 292px;
    width: 1349px;
  	

 }

 .formulario h3{
 	position: relative;
 	top: -26px;
 	font-size: 30px;

 }

 .form{
 	position: relative;
 	bottom: 17px;
 	text-align: left;
 }
.form-control {
    display: block;
    width: 93%;
}
 .texto-relleno{
 	position: relative;
 	top: 24px;
 	right: 10px;
 	padding:39px;

 }

.boton{
	position: relative;
	top: 23px;
	right: 10px;
}

.datos{
	margin-top:35px;
}

.mapa{
	margin-top: -26px;
	font-size: 30px;
	
}

@media (max-width: 768px){

.footer{
	margin-top: 20px;
	background-color: #f2f2f2;
}
.foo{
	padding: 20px;

}

.panel-footer {
    padding:27px 89px;
    height: 263px;
    width: 563px;
  	

 }

 .formulario h3{
 	display: none;

 }

 .form{
 	display: none;
 }
.form-control {
   display: none;
}
 .texto-relleno{
 	display: none;

 }

.boton{
	display: none;
}

.datos{
	margin-top:35px;
}

.mapa{
	display: none;
	
}
}

.social{
	position: fixed;
	left:-40px;
	top: 346px;
	z-index: 2000;
	
}

.social ul{
	list-style: none;
}

.social ul li a{
	display: inline-block;
	color: #fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition: all 500ms ease;
	font-size: 30px;
}

.social ul li .icon-facebook2 {background:#3b5998;}
.social ul li .icon-twitter {background:#00abf0; }
.social ul li .icon-google-plus {background:#d95232; }

.social ul li a:hover {
	padding: 10px 30px;
	background: #000;
}

@media (max-width: 768px){
	.social{
		display: none;
	}
}